<header>
  <div class="container">

    <div class="logo">
      <img src="assets/img/leb.png">
      <a routerLink="/"> Lebanese Food Shop</a>
    </div>

    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Sultan</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">Cart <span>{{ cart.items.length }}</span></a>
        </li>
      </ul>
    </nav>

  </div>
</header>
